@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .white-gradient {
    background-image: linear-gradient(to right,
        rgba(255, 255, 255, 0.6),
        transparent);
  }

  .deck-sidebar {
    background-color: #222f3e;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    height: 15rem;
    max-height: 600px;
    min-width: 250px;
  }

  .sidebar-container {
    width: 400px;
    position: sticky;
    top: 0;
  }

  .white-gradient {
    background-image: linear-gradient(to right,
        rgba(255, 255, 255, 0.6),
        transparent);
  }

  /* ==============
   Main Section
  ============== */

  .main-content {
    width: calc(100vw - 400px);
  }

  .bg-image {
    /*background-image: url('assets\wdt_background3.png'); */
    /* background-image: url('assets\wdt_background2_low_opacity.png'); */
    background-image: url('assets/wdt-background-temporary-blurred.png');
    background-size: cover;
    background-position: center center;
    overflow-x: hidden;
  }

  .deck-frame-grey-container {
    flex-wrap: wrap;
    overflow-x: hidden;
    max-width: 85%;
    height: 40%;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  }

  .deck-frame-grey {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    background-color: #dfdfdf;
    border-radius: 12px;
    @apply p-5;
  }

  .deck-frame-white {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    background-color: #ffffff;
    border-radius: 12px;
    padding: 0.25rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  }

  .sidebar-item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #818181;
  }

  .click-here {
    color: #222f3e;
    font-weight: 800;
  }

  .filter-input {
    @apply w-20 rounded-md border-2 text-center;
  }

  .wdt-filter-container {
    align-content: end;
  }

  .button-87 {
    margin: 10px;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
    border: 0px;
    font-weight: 500;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    background: #09a6d7;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .button-87:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }

  .button-87:active {
    transform: scale(0.95);
  }

  .range-slider {
    width: 350px;
    margin: auto;
    text-align: center;
    position: relative;
    height: 3.4rem;
  }

  .range-slider svg,
  .range-slider input[type="range"] {
    position: absolute;
    left: 0;
    bottom: 0;
  }

  input[type="number"] {
    border: 1px solid #ddd;
    text-align: center;
    font-size: 1em;
    margin: 6px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    /* -moz-appearance: textfield; */
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  input[type="number"]:invalid,
  input[type="number"]:out-of-range {
    border: 2px solid #ff6347;
  }

  input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
  }

  input[type="range"]:focus {
    outline: none;
  }

  input[type="range"]:focus::-webkit-slider-runnable-track {
    background: #09a6d7;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  }

  input[type="range"]:focus::-ms-fill-lower {
    background: #09a6d7;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  }

  input[type="range"]:focus::-ms-fill-upper {
    background: #09a6d7;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  }

  input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: #09a6d7;
    border-radius: 1px;
    box-shadow: none;
    border: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  }

  input[type="range"]::-webkit-slider-thumb {
    z-index: 2;
    position: relative;
    box-shadow: 0px 0px 0px #000;
    border: 1px solid #09a6d7;
    height: 16px;
    width: 16px;
    border-radius: 25px;
    background: #b5e4f3;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9999;
  }

  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    z-index: 10000;
    display: flex;
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  }

  .create-input {
    @apply py-2 flex justify-between w-60;
  }

  .dialog-button {
    background-color: #09a6d7;
    color: white;
  }

  .main-text-color {
    color: #000000;
  }
}

@layer components {

  /* ===================
   Start Screen Section
  =================== */

  /* General Box Styling */
  .clickable-box {
    width: 80%;
    /* Sets the width to 80% of the parent container */
    max-width: 600px;
    /* Sets a maximum width to maintain readability on larger screens */
    min-width: fit-content;
    height: 35vh;
    /* Sets height to 50% of the viewport height */
    max-height: 400px;
    min-height: fit-content;
    background-color: #ffffff;
    border-radius: 70px;
    /* Curvature of the box corners */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.45);
    /* Drop shadow */
    margin: 2.5%;
    /* Percentages for margin to maintain spacing relative to the parent container */
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    position: relative;
    /* positioning of icon and text */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* Vertically center text and push it to the bottom */
  }

  /* Styles for the box on hover */
  .clickable-box:hover {
    background-color: #abd5e5;
    /* Changes to DECK1 Blue with 25% opacity  */
  }

  /* Styles for the box when clicked */
  .clickable-box:active {
    background-color: rgba(255, 155, 56, 0.1);
    /* #FF9B38 at 10% opacity when clicked */
  }

  /* Text Centering */

  .clickable-box-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* Keeps the text at the bottom */
    align-items: center;
    height: 100%;
    margin-bottom: 5%;
  }

  /* Style for the title */
  .clickable-box-title {
    font-weight: bold;
    font-size: 1.48em;
    text-align: center;
    margin-top: auto;
  }

  /* Style for the subtitle */
  .clickable-box-description {
    font-size: 1.15em;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 5%;
  }

  /* Style for the icon */
  .clickable-box-icon {
    position: absolute;
    /* position for the icon relative to the text */
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    color: #333;
    /* Icon Color */
  }

  /* ========================
     Presets Screen Section
  ======================== */

  .grid {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(min(30rem, 100%), 1fr));
    gap: 16px;
  }

  .card-box {
    width: 25rem;
    margin: 10px;
    border-radius: 70px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.45);
    /* Drop shadow */
    background-color: #ffffff;
    cursor: pointer;
  }

  .selected-preset {
    background-color: #abd5e5;
    /* Change to DECK1 Blue with 25% opacity */
  }

  .box-image {
    max-width: 100%;
    margin-bottom: 3%;
    margin-top: 25px;
  }

  .box-title {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 2%;
    /* Add title styles */
  }

  .box-text {
    font-size: 1em;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 25px;
    font-weight: 500;
  }

  .box-text-type {
    font-size: 1em;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 5px;
    margin-top: 2px;
    font-weight: 450;
  }

  .box-text hr {
    height: 2px;
    /*Width of the line*/
    background-color: #000;
    margin: 0 auto;
    /* Centers the line */
    width: 70%;
    /* Length of the line*/
    opacity: 70%;
  }

  .proceed-button {
    position: fixed;
    bottom: 25px;
    right: 25px;
    background-color: #575757;
    /* Grey color as it's inactive by default */
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 36px;
    font-weight: bold;
    width: 2.79em;
    height: 2.79em;
    cursor: not-allowed;

    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.45);
    /* Drop shadow */
  }

  .active {
    background-color: #4caf50;
    cursor: pointer;
  }

}

/* =================
     Charts Section
  ================= */

.chart-canvas {
  width: 100%;
}


/* Dual Charts */

.dual-chart-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cost-per-charts {
  flex: 1;
  max-width: 100%;
  height: 550px;
  margin: 2rem;
}

/* Tables */

.table-container {
  display: flex;
  justify-content: center;
  min-width: 20.8rem;
}

/* Dashboard Tables */

.dashboard-table {
  width: 20.8rem;
  height: 11.8rem;
  max-height: 20rem;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.dashboard-table .ag-root-wrapper {
  border-radius: 16px;
  overflow: hidden;
}

.dashboard-table .ag-cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-table .ag-header-cell-label {
  justify-content: center;
}

/* Annual Availability Table [WDT] */

.wdt-table {
  width: 20.8rem;
  height: 11.8rem;
  max-height: 20rem;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  margin-top: 2rem;
}

.wdt-table .ag-root-wrapper {
  border-radius: 16px;
  overflow: hidden;
}

.wdt-table .ag-cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wdt-table .ag-header-cell-label {
  justify-content: center;
}

/* Financial Feasibility Table */

.fin-table {
  max-width: 51.7rem;
  height: 11.8rem;
  max-height: 20rem;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}

.direct-cost {
  width: 51.7rem;
}

.yearly-commitment {
  width: 41.4rem;
}


.fin-table .ag-root-wrapper {
  border-radius: 16px;
  overflow: hidden;
}

.fin-table .ag-cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fin-table .ag-header-cell-label {
  justify-content: center;
}

@layer utilities {

  /* ================
   Utilities Section
  ================ */

  /* import into pages to prevent horizontal and vertical scrolling */
  .no-scroll {
    overflow: hidden;
    height: 90vh;
    max-height: 90vh;
  }
}

::-webkit-scrollbar {
  height: 1rem;
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  --tw-border-opacity: 1;
  background-color: rgba(217, 217, 227, 0.8);
  border-color: rgba(255, 255, 255, var(--tw-border-opacity));
  border-radius: 9999px;
  border-width: 1px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #333;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-button {
  display: none;
}

.submit-button {
  background-color: #09a6d7;
  color: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.error-bar {
  opacity: 1;
  transition: opacity 1s;
  position: fixed;
  top: 30px;
  left: 40%;
  width: 30%;
  background-color: #688ba8;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.error-bar.fade-out {
  opacity: 0;
}

.error-message {
  color: #fff;
}