@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .white-gradient {
    background-image: linear-gradient(to right,
        rgba(255, 255, 255, 0.6),
        transparent);
  }

  .deck-logo {
    align: middle;
    margin-bottom: 2rem;
  }

  .deck-sidebar {
    background-color: #222f3e;
    border-radius: 70px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    min-height: 470px;
    max-height: 470px;
    min-width: 250px;
  }

  .sidebar-container {
    width: 400px;
    position: sticky;
    top: 0;
  }

  .white-gradient {
    background-image: linear-gradient(to right,
        rgba(255, 255, 255, 0.6),
        transparent);
  }

  /* ==============
   Main Section
  ============== */

  .main-content {
    width: calc(100vw - 400px);
  }

  .bg-image {
    /*background-image: url('assets/wdt_background3.png'); */
    background-image: url('assets/wdt_background2_low_opacity.png');
    /* background-image: url('assets/wdt-background-temporary-blurred.png'); */
    background-size: cover;
    background-position: center center;
    overflow-x: hidden;
  }

  .deck-frame-grey-container {
    flex-wrap: wrap;
    overflow-x: hidden;
    max-width: 85%;
    height: 40%;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  }

  .deck-frame-grey {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    background-color: #dfdfdf;
    border-radius: 12px;
    @apply p-5;
  }

  .deck-frame-translucent-container {
    display: flex;
    flex-direction: column;
    padding: 1.25rem;
  }

  .deck-frame-translucent {
    width: 98%;
    border-radius: 70px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.45);
    /* Drop shadow */
    background-color: #dfdfdfdb;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    @apply p-5;
  }

  .deck-frame-translucent-w-sidebar {
    width: 82%;
    border-radius: 70px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.45);
    /* Drop shadow */
    background-color: #dfdfdfdb;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    @apply p-5;
  }

  .deck-frame-white {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    background-color: #ffffff;
    border-radius: 12px;
    padding: 0.25rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  }

  .sidebar-item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #818181;
  }

  .modal-overlay {
    position: fixed;
    top: 47%;
    left: 48.5%;
    transform: translate(-50%, -50%);
    border-radius: 70px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.45);
    /* Drop shadow */
    background-color: #dfdfdfdb;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    @apply p-5;
  }

  .click-here {
    color: #222f3e;
    font-weight: 800;
  }

  .filter-input {
    @apply w-20 rounded-md border-2 text-center;
  }

  .wdt-filter-container {
    align-content: end;
  }

  .button-87 {
    margin: 10px;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
    border: 0px;
    font-weight: 500;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    background: #09a6d7;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .button-87:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }

  .button-87:active {
    transform: scale(0.95);
  }

  .range-slider {
    width: 350px;
    margin: auto;
    text-align: center;
    position: relative;
    height: 3.4rem;
  }

  .range-slider svg,
  .range-slider input[type="range"] {
    position: absolute;
    left: 0;
    bottom: 0;
  }

  input[type="number"] {
    border: 1px solid #ddd;
    text-align: center;
    font-size: 1em;
    margin: 6px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    /* -moz-appearance: textfield; */
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  input[type="number"]:invalid,
  input[type="number"]:out-of-range {
    border: 2px solid #ff6347;
  }

  input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
  }

  input[type="range"]:focus {
    outline: none;
  }

  input[type="range"]:focus::-webkit-slider-runnable-track {
    background: #09a6d7;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  }

  input[type="range"]:focus::-ms-fill-lower {
    background: #09a6d7;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  }

  input[type="range"]:focus::-ms-fill-upper {
    background: #09a6d7;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  }

  input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: #09a6d7;
    border-radius: 1px;
    box-shadow: none;
    border: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  }

  input[type="range"]::-webkit-slider-thumb {
    z-index: 2;
    position: relative;
    box-shadow: 0px 0px 0px #000;
    border: 1px solid #09a6d7;
    height: 16px;
    width: 16px;
    border-radius: 25px;
    background: #b5e4f3;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9999;
  }

  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    z-index: 10000;
    display: flex;
    width: 30rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  }

  .create-input {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
  }

  .input-field {
    margin-left: 0.5rem;
    border-width: 2px;
    border-radius: 0.375rem;
    text-align: left;
    width: 10rem;
  }

  .dialog-button {
    background-color: #09a6d7;
    color: white;
  }

  .main-text-color {
    color: #000000;
  }
}

@layer components {

  /* ===================
   Start Screen Section
  =================== */

  /* General Box Styling */
  .clickable-box {
    width: 80%;
    /* Sets the width to 80% of the parent container */
    max-width: 600px;
    /* Sets a maximum width to maintain readability on larger screens */
    min-width: fit-content;
    height: 35vh;
    /* Sets height to 50% of the viewport height */
    max-height: 400px;
    min-height: fit-content;
    background-color: #ffffff;
    border-radius: 70px;
    /* Curvature of the box corners */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.45);
    /* Drop shadow */
    margin: 2.5%;
    /* Percentages for margin to maintain spacing relative to the parent container */
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    position: relative;
    /* positioning of icon and text */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* Vertically center text and push it to the bottom */
  }

  /* Styles for the box on hover */
  .clickable-box:hover {
    background-color: #abd5e5;
    /* Changes to DECK1 Blue with 25% opacity  */
  }

  /* Styles for the box when clicked */
  .clickable-box:active {
    background-color: rgba(255, 155, 56, 0.1);
    /* #FF9B38 at 10% opacity when clicked */
  }

  /* Text Centering */

  .clickable-box-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* Keeps the text at the bottom */
    align-items: center;
    height: 100%;
    margin-bottom: 5%;
  }

  /* Style for the title */
  .clickable-box-title {
    font-weight: bold;
    font-size: 1.48em;
    text-align: center;
    margin-top: auto;
  }

  /* Style for the subtitle */
  .clickable-box-description {
    font-size: 1.15em;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 5%;
  }

  /* Style for the icon */
  .clickable-box-icon {
    position: absolute;
    /* position for the icon relative to the text */
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    color: #333;
    /* Icon Color */
  }

  /* ========================
     Presets Screen Section
  ======================== */

  .grid {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(min(30rem, 100%), 1fr));
    gap: 16px;
  }

  .card-box {
    width: 25rem;
    margin: 10px;
    border-radius: 70px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.45);
    /* Drop shadow */
    background-color: #ffffff;
    cursor: pointer;
  }

  .selected-preset {
    background-color: #abd5e5;
    /* Change to DECK1 Blue with 25% opacity */
  }

  .box-image {
    max-width: 100%;
    margin-bottom: 3%;
    margin-top: 25px;
  }

  .box-title {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 2%;
    /* Add title styles */
  }

  .box-text {
    font-size: 1em;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 25px;
    font-weight: 500;
  }

  .box-text-type {
    font-size: 1em;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 5px;
    margin-top: 2px;
    font-weight: 450;
  }

  .box-text hr {
    height: 2px;
    /*Width of the line*/
    background-color: #000;
    margin: 0 auto;
    /* Centers the line */
    width: 70%;
    /* Length of the line*/
    opacity: 70%;
  }

  .proceed-button {
    position: fixed;
    bottom: 25px;
    right: 25px;
    background-color: #575757;
    /* Grey color as it's inactive by default */
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 36px;
    font-weight: bold;
    width: 2.79em;
    height: 2.79em;
    cursor: not-allowed;

    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.45);
    /* Drop shadow */
  }

  .create-button {
    position: fixed;
    bottom: 150px;
    right: 25px;
    background-color: #76c2e0;
    /* Grey color as it's inactive by default */
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 36px;
    font-weight: bold;
    width: 2.79em;
    height: 2.79em;
    cursor: pointer;

    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.45);
    /* Drop shadow */
  }

  .download-button {
    position: fixed;
    bottom: 275px;
    right: 25px;
    background-color: #575757;
    /* Grey color as it's inactive by default */
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 36px;
    font-weight: bold;
    width: 2.79em;
    height: 2.79em;
    cursor: pointer;

    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.45);
    /* Drop shadow */
  }

  .generic-button-small {
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 36px;
    font-weight: bold;
    width: 1em;
    height: 1em;
    cursor: pointer;

    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.45);
    /* Drop shadow */
    transition: background-color 0.3s ease;
    /* Smooth transition for background color */
  }

  /* Hover state */
  .generic-button-small:hover {
    background-color: rgb(254, 76, 76);
  }

  .generic-button {
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 36px;
    font-weight: bold;
    width: 2.79em;
    height: 2.79em;
    cursor: pointer;

    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.45);
    /* Drop shadow */
  }

  .info-button {
    position: fixed;
    bottom: 25px;
    left: 25px;
    background-color: #f5cea1;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 36px;
    font-weight: bold;
    width: 2.79em;
    height: 2.79em;
    cursor: pointer;

    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.45);
    /* Drop shadow */
  }

  .modal-content {
    max-height: 80vh;
    overflow-y: auto !important;
    /* Add a scrollbar if the content overflows */
  }

  .modal-button-container {
    margin-top: 1rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }

  .modal-save-button {
    margin-top: 1rem;

    position: fixed;
    bottom: 25px;
    right: 25px;
    background-color: #76c2e0;
    /* Grey color as it's inactive by default */
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 36px;
    font-weight: bold;
    width: 1.39em;
    height: 1.39em;
    cursor: pointer;

    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.45);
    /* Drop shadow */
  }

  .modal-cancel-button {
    margin-top: 1rem;

    position: fixed;
    bottom: 25px;
    left: 28px;
    background-color: #e07676;
    /* Grey color as it's inactive by default */
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 36px;
    font-weight: bold;
    width: 1.39em;
    height: 1.39em;
    cursor: pointer;

    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.45);
    /* Drop shadow */
  }

  .modal-team-button {
    margin-top: 1rem;

    position: fixed;
    bottom: 25px;
    right: 44.5%;
    background-color: #ffffffc1;
    /* Grey color as it's inactive by default */
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 36px;
    font-weight: bold;
    width: 1.39em;
    height: 1.39em;
    cursor: pointer;

    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.45);
    /* Drop shadow */
  }

  .location-selected {
    background-color: #09a6d7;
    cursor: pointer;
  }

  .active {
    background-color: #4caf50;
    cursor: pointer;
  }

}

/* ================================
     Customization Cards Section
================================ */

.customize-card-box {
  width: 25rem;
  margin: 10px;
  border-radius: 70px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.45);
  /* Drop shadow */
  background-color: #ffffff;
  cursor: pointer;
}

.customize-box-text {
  font-size: 1em;
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 5px;
  font-weight: 500;
}

.customize-box-text-type {
  font-size: 1em;
  text-align: center;
  margin-left: 5px;
  margin-bottom: 5px;
  margin-top: 2px;
  font-weight: 450;
}

.customize-box-text hr {
  height: 2px;
  /*Width of the line*/
  background-color: #000;
  margin: 0 auto;
  /* Centers the line */
  width: 70%;
  /* Length of the line*/
  opacity: 70%;
}

/* =================
     Charts Section
  ================= */

.chart-canvas {
  width: 100%;
}


/* Dual Charts */

.dual-chart-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cost-per-charts {
  flex: 1;
  max-width: 100%;
  height: 550px;
  margin: 2rem;
}

/* Tables */

.table-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 10.8rem;
}

.commitment-color {
  background-color: #abd5e5;
}

.breakdown-color {
  background-color: #69605648;
}

/* Dashboard Tables */

.dashboard-table {
  width: 20.8rem;
  height: 11.8rem;
  max-height: 20rem;
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  margin-left: 1rem;
  margin-right: 1rem;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);
}

.dashboard-table .ag-root-wrapper {
  border-radius: 16px;
  overflow: hidden;
}

.dashboard-table .ag-cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-table .ag-header-cell-label {
  justify-content: center;
}

/* Summary Screen Section */

.summary-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.summary-table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 10.8rem;
  margin-top: 2rem;
  grid-row: 2;
}

.summary-table {
  width: 31.1rem;
  height: 11.8rem;
  max-height: 20rem;
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.45);
}

.summary-table .ag-root-wrapper {
  border-radius: 16px;
  overflow: hidden;
}

.summary-table .ag-cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.summary-table .ag-header-cell-label {
  justify-content: center;
}

/* Annual Availability Table [WDT] */

.wdt-table {
  width: 20.8rem;
  height: 11.8rem;
  max-height: 20rem;
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  margin-top: 2rem;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);

}

.wdt-table .ag-root-wrapper {
  border-radius: 16px;
  overflow: hidden;
}

.wdt-table .ag-cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wdt-table .ag-header-cell-label {
  justify-content: center;
}

/* Financial Feasibility Table */

.fin-layout {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}

.fin-table-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 10.8rem;
  align-items: center;
  text-align: center;
}

.fin-table {
  max-width: 51.7rem;
  min-height: 9rem;
  height: 11.8rem;
  max-height: 20rem;
  margin-bottom: 1.5rem;
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);

}

.direct-cost {
  width: 51.7rem;
}

.yearly-commitment {
  width: 41.4rem;
}


.fin-table .ag-root-wrapper {
  border-radius: 16px;
  border-color: #33333390;
  overflow: hidden;
}

.fin-table .ag-cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fin-table .ag-header-cell-label {
  justify-content: center;
}

/* ==================================
   Generic Text Formatting Section
================================== */

.generic-header {
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  margin-bottom: .5%;
  justify-items: center;
  align-items: center;
  text-align: center;
}

.generic-header-left {
  font-weight: bold;
  font-size: 1em;
  margin-bottom: .5%;

  text-align: center;
}

.generic-header-medium {
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: .5%;
  justify-items: center;
  align-items: center;
  text-align: center;
}

.heading-container {
  margin: .5rem;
}

/* =============================
   Maritime Asset Map Section
============================= */

/* SECTIONS & CONTAINERS */

.generic-section {
  height: 40rem;
  width: 105%;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.option-section {
  height: 75rem;
  width: 105%;
  background-size: cover;
  background-position: center;
  display: flex;
}

.map-section {
  height: 80rem;
  width: 105%;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  height: 15rem;
  width: 105%;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intermediate-section {
  height: 15rem;
  width: 105%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 80rem;
  width: 100%;
}

.info-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section-color-1 {
  background-color: #FFBF7D;
}

.section-color-2 {
  background-color: #8CA3AA;
}

/* Region Options */

.options-section-left {
  background-image: url('assets/northsea.jpg');
  width: 48.2%;
}

.options-section-right {
  background-image: url('assets/balticsea.jpg');
  width: 50%;
}

.options-section-left,
.options-section-right {
  background-size: cover;
  filter: saturate(20%);
  /* Transitions for zoom and saturaton */
  transition: transform 0.3s ease, filter 0.3s ease;
}

.options-section-left:hover,
.options-section-right:hover {
  transform: scale(1.05);
  filter: saturate(100%);
}

.options-section-left:hover {
  text-shadow: -3px 3px 7px #FFBF7D;
}

.options-section-right:hover {
  text-shadow: 3px 3px 7px #FFBF7D;
}

/* Turbine Type Options */

/* Monopile */
.options-section-2-first {
  background-image: url('assets/turbine-monopile.jpg');
  width: 32%;
}

/* Jacket */
.options-section-2-second {
  background-image: url('assets/turbine-jacket.jpg');
  width: 32%;
}

/* Floating */
.options-section-2-third {
  background-image: url('assets/turbine-floating.jpg');
  width: 33%;
}

.options-section-2-first,
.options-section-2-second,
.options-section-2-third {
  background-size: cover;
  filter: saturate(20%);
  /* Transitions for zoom and saturaton */
  transition: transform 0.3s ease, filter 0.3s ease;
}

.options-section-2-first:hover,
.options-section-2-second:hover,
.options-section-2-third:hover {
  transform: scale(1.05);
  filter: saturate(100%);
}

.options-section-2-first:hover {
  text-shadow: -3px 3px 7px #FFBF7D;
}

.options-section-2-second:hover {
  text-shadow: 0px 3px 7px #FFBF7D;
}

.options-section-2-third:hover {
  text-shadow: 3px 3px 7px #FFBF7D;
}

/*--------------*/
/* TEXT STYLING */
/*--------------*/

.bold {
  font-weight: bold;
}

.prompt {
  font-size: 1.5rem;
}

.regular {
  font-size: 1rem;
}

.page-header {
  font-size: 10rem;
  font-family: 'RussoOne-Regular', sans-serif;
  margin-right: 4rem;
}

.section-header {
  font-size: 3.5rem;
  font-family: 'RussoOne-Regular', sans-serif;

  text-decoration: underline;
  text-decoration-style: dotted;

  margin-right: 4rem;
}

.info-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-left: 1.2rem;
  margin-right: 1.2rem;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

.option-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  font-size: 6rem;
  font-family: 'RussoOne-Regular', sans-serif;
}

.left {
  align-items: flex-start;
  margin-left: 5%;
}

.right {
  align-items: flex-end;
  margin-right: 5%;
}

.center {
  align-items: center;
}

/*----------*/
/* ELEMENTS */
/*----------*/

.generic-box {
  margin: 10px;
  border-radius: 70px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.info-image-box {
  width: 30rem;
  margin-right: 4rem;
}

.info-text-box {
  width: 30rem;
  margin-right: 6.8rem;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.45);
  background-color: #ffffff45;
}

.tiles-list {
  width: 30rem;
  margin-left: 2.9rem;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.45);
  background-color: #ffffff45;
}

.button-box {
  width: 15rem;
  margin-top: 30%;
  margin-right: 6.8rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);

  cursor: pointer;
}


.box-content {
  text-align: center;
}

/*------------------*/
/* IMAGE FORMATTING */
/*------------------*/

.info-card-image {
  max-width: 100%;
  margin-bottom: 3%;
  margin-top: 25px;

}

/*-------------------*/
/* ELEMENT FORMATING */
/*-------------------*/

.column {
  flex: 1;
  flex-direction: column;
}

/*--------------*/
/* COLOR STYLES */
/*--------------*/

/* Buttons */

.primary-button {
  background-color: #FFBF7D;
}

.secondary-button {
  background-color: #8CA3AA;
}

.neutral-button {
  background-color: #575757;
}

.neutral-button-2 {
  background-color: rgba(255, 255, 255, 0.873);
}

/* Text */

.black {
  color: black
}

.white {
  color: white
}

@layer utilities {

  /* ================
   Utilities Section
  ================ */

  /* import into pages to prevent horizontal and vertical scrolling */
  .no-scroll {
    overflow: hidden;
    height: 90vh;
    max-height: 90vh;
  }
}

::-webkit-scrollbar {
  height: 1rem;
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  --tw-border-opacity: 1;
  background-color: rgba(217, 217, 227, 0.8);
  border-color: rgba(255, 255, 255, var(--tw-border-opacity));
  border-radius: 9999px;
  border-width: 1px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #333;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-button {
  display: none;
}

.pointer {
  cursor: pointer;
}

.submit-button {
  background-color: #09a6d7;
  color: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.error-bar {
  opacity: 1;
  transition: opacity 1s;
  position: fixed;
  top: 30px;
  left: 40%;
  width: 30%;
  background-color: #688ba8;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  z-index: 10000;
}

.error-bar.fade-out {
  opacity: 0;
}

.error-message {
  color: #fff;
}

/* FONTS */

@font-face {
  font-family: 'RussoOne-Regular';
  src: url('assets/fonts/RussoOne-Regular.ttf') format('truetype');
  /* Adjust the path and filename accordingly */
  font-weight: normal;
  font-style: normal;
}